*{
  padding: 0px;
  margin: 0px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191b1f;
    height: 100vh;
    direction: rtl;
  }
  
  @font-face {
    font-family: A;
    src: url("../public/fonts/Cairo-Black.ttf");
    font-weight: 900;
  }
  